$nav-family: "Raleway", sans-serif;
$brand-family: "Raleway", sans-serif;
$jumbo-title-family: "Open Sans", sans-serif;
$quote-family: "Cardo", sans-serif;

$light-text: #fff;
$dark-text: #6c7279;
$nav-text-color: #d9d8d8;

$card-icon-color: #e84545;
$btn-bg: #e84545;
$hover-works-bg: #e84545;
$hover-bg: #e84545;
$people-post-color: #e84545;
$btn-hover: #ff2f2f;
$hover-mob-nav: #e84545;
$heart-icon: #e84545;
$hover-link: #e84545;


$media-icon-color: #c6cacc;

$main-bg: #fff;
$quote-section-bg: #53354a;
$top-footer-bg: #3a3e64;
$bottom-footer-bg: #313454;
$overlay-welcome-bg: #2b2e4a;

$section-padding: 100px 0;
$section-padding-advantages: 120px 0 30px;
$top-header-padding: 35px 0;
$top-footer-padding: 70px 0 90px;
$bottom-footer-padding: 30px 0;

$content-width: 1210px;

$nav-text-size: .8125rem;
$header-title-size: 4.0625rem;
$jumbo-text-size: 1.375rem;
$text-cards: .875rem;
$names-card-size: 1.375rem;
$post-size: .8125rem;
$section-title-size: 1.75rem;
$works-hover-size: .875rem;
$quote-text-size: 2rem;
$quote-signup: .8125rem;
$btn-text-size: .8125rem;
$footer-title-size: .875rem;
$footer-text-size: .875rem;


$mob-text-size: 1.5rem;

$slick-dot-size: 15px!important;
