
.section-padding{
  padding: $section-padding;
}

.section-padding-adventages{
  padding: $section-padding-advantages;
}

.top-header-padding{
  padding: $top-header-padding;
}

.top-footer-padding{
  padding: $top-footer-padding;
}
.bottom-footer-padding{
  padding: $bottom-footer-padding;
}